button{
    font-size: 20px;;
}

.container {
    background-image: url(/MondialiAng/src/img/sfondo-sito.jpg) repeat 0 0;
       }
       
 .container:before,
 .container:after {
    content: "";
    display: table;
 }
 
 .container:after {
    clear: both;
 }

.list{
   font-family:'Courier New', Courier, monospace;
   font-size: 20px;
}
.span{
   font-weight:900;
}